/*===========
    GLOBAL
 ===========*/
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");
*
*::before,
*::after{
   box-sizing: border-box;
 }

 :root{
   --white: #FFFFFF;
   --black: #150605;
   --red: #EA453C;
   --pink: #F47B6E;
   --blue: #2E02DB;
   --light-blue: #EFFBFE;

   /* Theme 1 */
   --color__primary: var(--white);
   --color__secondary--light: var(--pink);
   --color__secondary--dark: var(--red);
   --color__accent--light: var(--lightblue);
   --color__accent--dark: var(--blue);

   --font-primary: 'Oswald', sans-serif;
   --fw-reg: 300;
   --fw-bold: 900;
 }

 html{ scroll-behavior: smooth;}

 body{
   color: var(--color__secondary--dark);
   margin: 0 auto;
   font-size: 1.125rem;
   font-family: var(--font-primary);
 }

 h1,h2,p{
   margin: 0;
 }

 h1{
   font-size: 2.5rem;
 }

 a, button{
   cursor: pointer;
 }


/* Layout */

.header{
  background-color: var(--color__secondary--light);
  padding: 1em 2em;
}
.header__container{
  margin: 0 auto;
  max-width: 950px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__link{
  text-decoration: none;
  color: var(--color__accent--dark)
}
.header__link:visited{
  color: none;
}
.header__link:hover{
  color: var(--color__primary)
}
