/*===========
    GLOBAL
 ===========*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
*
*::before,
*::after{
   box-sizing: border-box;
 }

 :root{
   --white: #FFFFFF;
   --black: #150605;
   --red: #EA453C;
   --pink: #F47B6E;
   --light-blue: #EFFBFE;
   --blue: #ACE6EC;

   /* Theme 1 */
   --color-primary: var(--white);
   --color-secondary__light: var(--pink);
   --color-secondary__dark: var(--red);
   --color-accent__light: var(--lightblue);
   --color-accent__dark: var(--blue);

   --font-primary: 'Roboto', sans-serif;
   --fw-reg: 300;
   --fw-bold: 900;
 }

 html{ scroll-behavior: smooth;}

 body{
   color: var(--fc-primary);
   margin: 0 auto;
   font-size: 1.125rem;
   font-family: var(--ff-primary);
 }

 a, button{
   cursor: pointer;
 }
